{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": ["warn", "never"],
    "no-mixed-operators": "off",
    "object-curly-newline": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/role-has-required-aria-props": "off",
    "jsx-a11y/label-has-associated-control": [
      2,
      { "controlComponents": ["Switch"] }
    ],
    "jsx-a11y/label-has-for": "off",
    "function-paren-newline": "off",
    "react/require-default-props": "off",
    "react/destructuring-assignment": "off",
    "react/no-did-update-set-state": "off",
    "import/extensions": "off"
  }
}
