{
    "env": {
      "browser": true,
      "es6": true,
      "jest": true
    },
    "extends": "airbnb",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "sourceType": "module"
    },
    "rules": {
      "comma-dangle": ["warn", "never"]
    }
  }
  