.react-switch {
  display: inline-block;
  position: relative;
}

.react-switch-bg {
  display: inline-block;
  transition: background-color 0.2s;
}

.react-switch-fg {
  display: inline-block;
  /* cursor: pointer; */
  position: absolute;
  left: 0px;
}

.react-switch-toggle {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  border: 0px;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.react-switch-toggle:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.react-switch-toggle-disabled {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  border: 0px;
  cursor: default;
}

.react-switch-toggle:focus {
  outline: 0;
  box-shadow: 0px 0px 1px 2px #4D90FE;
}